.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  height: 90%;
  margin: 0;
}
.app-sidenav {
  width: 230px;
}
.app-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
mat-sidenav-content{
  height:85vh
}


/*temp content*/
.example-spacer {
  flex: 1 1 auto;
}
.example-container {
  width: 100%;
  height: 85vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}


.end{
  align-items: end;
  justify-content: end;
}


.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
.active {
  color: red;
}




