.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  height: 90%;
  margin: 0;
}
.app-sidenav {
  width: 230px;
}
.app-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
mat-sidenav-content{
  height:85vh
}


/*temp content*/
.example-spacer {
  flex: 1 1 auto;
}
.example-container {
  width: 100%;
  height: 85vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}


.end{
  align-items: end;
  justify-content: end;
}

///bgimg
 .card-img, .card-img-bottom, .card-img-top{
  width: 20%;
 }
 .to-center{
  margin-top:auto;
  margin-bottom: auto;

 }
.card{
  justify-content: center;
  text-align: center;
       border: var(--bs-card-border-width) solid white !important;
}
.back-image{
background-image: url(../../assets/images/home-banner.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50vh;
}






