
.row{
  height:100vh
}
.Warning-color{
color:red;
}
.col-8{
  margin-top:auto;
  margin-bottom:auto;
}
input.ng-touched.ng-invalid{
  border:1px solid red;
}
input.ng-touched.ng-valid{
  border:1px solid rgb(0, 255, 51);
}
.control-label.required:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 5px;
  top:7px;
}
.back-image{
  background-image: url(../../assets/images/Loginpage.png);
  background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    border-top-right-radius: 7%;
    box-shadow: 10px 10px 5px #6f7e8345;
  }
